<div class="tweet" id="tweet-{{id}}">
	<img  src="{{img}}">
	<div class="body">
		<div class="title">{{handle}}</div>
		<div class="message">{{message}}</div>
		{{!-- this is not going to be on my project, but chris was crying so i left it....enjoy kevin --}}
		<div class="suckit">{{userId}}</div>
	</div>
</div>